.title{
    padding-top: 7%;
    color: #024059;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 0%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
